a {
	text-decoration: none;
}

body {
	background-color: #f7f4eb;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #c7c7c7;
	box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	background: #fff;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-start {
	justify-content: flex-start;
}

.flex-end {
	justify-content: flex-end;
}

.flex-center {
	justify-content: center;
}

.flex-shrink {
	flex-shrink: 0;
}

.flex-between {
	justify-content: space-between;
}

.flex-around {
	justify-content: space-around;
}

.flex-align-center {
	align-items: center;
}

.flex-align-end {
	align-items: flex-end;
}

.flex-wrap {
	flex-wrap: wrap;
}

.font-bold {
	font-weight: bold;
}

.text-center {
	text-align: center;
}


.header {
	width: 100%;
}


.footer {
	width: 100%;
	height: 224px;
	background-image: url(../img/footer_bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: #FFFFFF;
}

.footer-container {
	height: 100%;
}

.footer-logo {
	background-image: url(../img/loago.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	width: 124px;
	height: 54px;
	margin-top: 70px;
}

.footer-contact {
	padding-top: 60px;
	margin-left: 68px;
}

.footer-company-name {
	font-size: 17px;
	margin-top: 8px;
	font-family: SourceHanSerifCN-Bold;
}

.footer-address {
	font-size: 14px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 30px;
	margin-left: 45px;
}

.footer-copyright {
	margin-top: 50px;
	font-size: 14px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 18px;
}

.footer-qrcode {
	width: 145px;
	height: 100%;
	background: #5A5A5A;
	padding-top: 38px;
	box-sizing: border-box;
	margin-left: 163px;
}

.footer-qrcode img {
	display: block;
	width: 110px;
	height: 110px;
	margin: 0 auto;
}

.qrcode-name {
	font-size: 15px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 20px;
	margin-top: 13px;
}


.header-icon {
	width: 100%;
	height: 89px;
	background-image: url(../img/header-icon.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.header-container {
	width: 100%;
}

.header-logo {
	width: 117px;
	height: 52px;
	background-image: url(../img/loago.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
	margin-right: 129px;
}

.inside-header {
	background-image: url(../img/inside_header.png) !important;
	background-position: top center !important;
	background-size: cover;
	background-repeat: no-repeat;
	height: 373px;
	box-sizing: border-box;
	padding-top: 85px;
}

.menu .menu-item+.menu-item {
	margin-left: 38px;
}

.menu .menu-item a {
	color: #FFFFFF;
	font-family: yixinlingxiaoti;
	padding: 7px 7px 7px 3px;
}

.menu .menu-item a.active {
	background-image: url('../img/menu-icon.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.menu .menu-title-cn {
	height: 46px;
	font-size: 23px;
	font-weight: 400;
	line-height: 25px;
	writing-mode: tb-rl;
}

.menu .menu-title-en {
	width: 32px;
	height: 44px;
	font-size: 17px;
	font-family: yixinlingxiaoti;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 15px;
	writing-mode: tb;
	margin-top: 9px;
}

.header-btn {
	background-image: url(../img/menu_btn.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	width: 71px;
	height: 71px;
	border-radius: 15px;
	color: #fff;
	font-size: 18px;
	font-family: Source Han Serif CN;
	font-weight: 600;
	line-height: 20px;
	margin-left: 167px;
}


.common-container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.button-prev,
.button-next {
	text-align: center;
}

.button-prev::after,
.button-next::after {
	content: '';
	border: solid #fff;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 6px;
}

.button-prev::after {
	transform: rotate(135deg);
	margin-right: -6px;
}

.button-next::after {
	transform: rotate(-45deg);
	margin-left: -6px;
}

.crumbs {
	margin-bottom: 8px;
}

.crumbs ul {
	padding: 0;
	padding: 31px 0;
}

.crumbs ul li {
	list-style-type: none;
}

.crumbs ul li+li {
	margin-left: 26px;
}

.crumbs ul li a {
	font-size: 20px;
	color: #AFA893;
	display: block;
}

.crumbs ul li a::after {
	content: '';
	display: block;
	width: 0px;
	height: 3px;
	background-color: #E3DDC9;
	margin: 7px auto 0 auto;
	transition: all .5s;
	transform-origin: center;
}

.crumbs ul li a.active,
.crumbs ul li a:hover {
	color: #2B2B2B;
}

.crumbs ul li a.active::after,
.crumbs ul li a:hover::after {
	width: 56px;
}

.inside-tabs {
	width: 100%;
	height: 82px;
	background: #FFFCF4;
	border-radius: 15px;
	padding: 0 62px;
	box-sizing: border-box;
	margin-bottom: 29px;
}

.inside-tab-item {
	font-size: 20px;
	color: #BAB6A9;
	padding-top: 30px;
	cursor: pointer;
}

.inside-tab-item::after {
	content: '';
	display: block;
	width: 0px;
	height: 3px;
	background-color: #006633;
	margin: 7px auto 0 auto;
	transition: all .5s;
}

.inside-tab-item+.inside-tab-item {
	margin-left: 61px;
}

.inside-tab-item.active {
	color: #006633;
}

.inside-tab-item.active::after {
	width: 35px;
}


.inside-container {
	width: 100%;
	height: auto;
	background: #FFFCF4;
	border-radius: 15px;
	box-sizing: border-box;
}

.page-wrap {
	margin-top: 42px;
}

.page-btn {
	width: 39px;
	height: 39px;
	line-height: 39px;
	background: #E9E5DB;
	border-radius: 15px;
	text-align: center;
	color: #BBB7AA !important;
	font-size: 20px;
	cursor: pointer;
}

.page-btn+.page-btn {
	margin-left: 17px;
}

.page-btn.current-page {
	color: #006633 !important;
}

.page-btn.button-next::after,
.page-btn.button-prev::after {
	border: solid #BBB7AA;
	border-width: 0 2px 2px 0;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}
