body{
	min-width: 1670px;
	/* width: 2500px; */
}

.header{
	position: relative;
	z-index: 100;
	background-image: url('../img/header-icon1.png');
	background-position: top;
	background-repeat: repeat-x;
	background-size: 31px 28px;
}

.banner{
	width: 100%;
	height: auto;
	margin-top: -181px;
}

.banner .banner-swiper{
	height: 100%;
}

.banner .banner-swiper img{
	width: 100%;
	height: auto;
}

.banner .swiper-pagination{
	bottom: 20% !important;
}

.banner .swiper-slide{
	background-repeat: no-repeat;
	background-position: top  center;
	background-size: cover;
}

.banner .swiper-pagination-bullet{
	width: 70px;
	height: 4px;
	background: #FFFFFF;
	border-radius: 0;
	opacity: 1 !important;
}

.banner  .swiper-pagination-bullet-active{
	background: #029541;
}

.banner .banner-text-wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.banner .banner-text{
 /* height: 100%; */
}
.banner .banner-title-cn{
	font-size: 32px;
	font-weight: 600;
	color: #FFFFFF;
	margin-bottom: 10px;
	
}
.banner .banner-title-en{
	font-size: 15px;
	font-weight: 600;
	color: #FFFFFF;
}


.module-title {
	width: 100%;
	height: 82px;
	background-image: url(../img/title_bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	margin-top: 50px;
	margin-bottom: 100px;
}

.module-title-cn {
	width: 86px;
	height: 88px;
	font-size: 44px;
	font-family: yixinlingxiaoti;
	font-weight: 400;
	color: #2b2b2b;
	line-height: 45px;
	writing-mode: tb-rl;
}

.module-title-en {
	width: 40px;
	height: 98px;
	font-size: 20px;
	font-family: Source Han Serif CN;
	font-weight: bold;
	color: #2b2b2b;
	line-height: 25px;
	writing-mode: tb;
	margin-right: 13px;
}

.about-container {
	width: 100%;
	height: auto;
	min-height: 748px;
	background-image: url(../img/about_bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	position: relative;
}

.about-bg{
	position: absolute;
	background-image: url(../img/about_bg2.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	width: 100%;
	height: 647px;
	z-index: -1;
	bottom: 0;
	left: 0;
}

.about-title {
	font-size: 32px;
	font-family: Source Han Serif CN;
	font-weight: 800;
	color: #2b2b2b;
	line-height: 40px;
	margin-bottom: 38px;
}

.about-left {
	width: 812px;
}

.about-text {
	font-size: 18px;
	font-family: SourceHanSerifCN-Medium;
	font-weight: 500;
	color: #2b2b2b;
	line-height: 40px;
}

.about-text p {
	margin: 0;
}

.about-text p:first-of-type {
	margin-bottom: 60px;
}

.about-right {
	width: 335px;
	height: auto;
	position: relative;
}

.about-right .about-img1 {
	position: absolute;
	z-index: 10;
	width: 298px;
	height: 409px;
	top: 0;
	left: 0;
}

.about-right .about-img2 {
	position: absolute;
	z-index: 1;
	width: 286px;
	height: 415px;
	top: 29px;
	left: 49px;
}

.cemetery-content {
	width: 100%;
	margin-bottom: 300px;
	background-image: url(../img/cemetery_bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: auto 560px;
	padding-top: 108px;
}

.cemetery-wrap {
	width: 1351px;
	height: 532px;
	margin: 0 auto;
	position: relative;
	padding: 0 51px;
	box-sizing: border-box;
}

.cemetery-swiper,
.cemetery-swiper ul {
	width: 940px;
	height: 600px;
	margin: 0 auto;
}


.cemetery-wrap ul li {
	position: relative;
	overflow: hidden;
}

.cemetery-wrap ul li img.cemetery-swiper-bg {
	width: 100%;
	display: block;
}

.cemetery-wrap img.cemetery-swiper-img {
	position: absolute;
	width: calc(100% - 10%);
	height: calc(100% - 20.5%);
	top: 16.5%;
	left: 4.5%;
}

.cemetery-button-next,
.cemetery-button-prev {
	width: 51px;
	height: 134px;
	line-height: 134px;
	opacity: 0.5;
	position: absolute;
	top: 50%;
	margin-top: -67px;
	background-color: #000;
	cursor: pointer;
}

.cemetery-button-prev {
	left: 0;
}

.cemetery-button-next {
	right: 0;
}

.cemetery-button-next::after,
.cemetery-button-prev::after {
	padding: 6px;
}

.video-content {
	background-image: url(../img/video_bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	width: 100%;
	height: auto;
	padding-bottom: 100px;
}

.video-content .video-box {
	width: 1201px;
	height: 589px;
	margin: 0 auto;
}

#cemeteryVideo {
	width: 100% !important;
	height: 100% !important;
}

.video-wrap {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}


.park-container {
	margin-bottom: 119px;
	overflow: hidden;
}

.park-content {
	width: 1670px;
	margin: 0 auto;
}

.park-item {
	width: 260px;
	height: 498px;
	position: relative;
	transition: all 0.5s;
	overflow: hidden;
}

.park-item:hover .park-img-name {
	transform: translateY(0px);
}

.park-item+.park-item {
	margin-left: 22px;
}

.park-item img {
	display: block;
	width: 100%;
	height: 100%;
}

.park-item .park-img-name {
	width: 100px;
	height: 286px;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -50px;
	padding-top: 28px;
	box-sizing: border-box;
	transform: translateY(286px);
	transition: all 0.3s;
}

.park-item .park-img-name span {
	writing-mode: tb;
	font-size: 30px;
	font-family: Source Han Serif CN;
	font-weight: 400;
	color: #ffffff;
}

.park-item .park-img-name::after {
	display: block;
	content: "";
	background-color: #029541;
	width: 6px;
	height: 79px;
}

.product-wrap {
	background-image: url(../img/product_bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: auto 525px;
	margin-bottom: 103px;
	width: 100%;
	/* height: 525px; */
	padding-top: 48px;
}

.product-description {
	background-image: url(../img/product_bg3.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	width: 821px;
	height: 121px;
	font-size: 30px;
	font-family: yixinlingxiaoti;
	font-weight: 400;
	color: #37dc7d;
	line-height: 121px;
	box-sizing: border-box;
	padding-left: 167px;
	margin: 0 auto;
}

.product-icon {
	background-image: url(../img/product_bg4.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	width: 993px;
	height: 99px;
	margin: 0 auto;
}

.product-content {
	background-image: url(../img/product_bg2.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 740px;
	margin-top: -39px;
	padding-top: 39px;
}

.product-tabs .tab-item {
	width: 168px;
	height: 78px;
	line-height: 78px;
	background: rgba(195, 190, 175, 0.5);
	font-size: 20px;
	font-family: Source Han Serif CN;
	font-weight: 600;
	color: #5d594d;
	cursor: pointer;
	position: relative;
	transition: all 0.5s;
}

.product-tabs .tab-item::after {
	display: block;
	content: "";
	width: 0px;
	height: 4px;
	background: #ffffff;
	position: absolute;
	bottom: 13px;
	left: 50%;
	margin-left: -17.5px;
	transition: all 0.5s;
}

.product-tabs .tab-item.active {
	background-color: #029541;
	color: #fff;
}

.product-tabs .tab-item.active::after {
	width: 35px;
}

.product-tabs .tab-item+.tab-item {
	margin-left: 4px;
}

.product-swiper-wrap {
	width: 100%;
	height: calc(100% - 330px);
	padding-top: 59px;
	position: relative;
}

.product-swiper {
	width: 949px;
	height: 362px;
}

.product-swiper img {
	width: 949px;
	height: 362px;
}

.product-swiper .product-row {
	width: 100%;
	height: 73px;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	font-size: 26px;
	line-height: 73px;
	box-sizing: border-box;
	padding: 0 28px;
	font-weight: 500;
}

.product-button-prev,
.product-button-next {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background-color: #029541;
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -23px;
	line-height: 50px;
	text-align: center;
}

.product-button-prev::after,
.product-button-next::after {
	padding: 6px;
}

.product-button-prev::after {
	margin-right: -6px;
}

.product-button-next::after {
	margin-left: -6px;
}

.product-button-prev {
	left: 35px;
}

.product-button-next {
	right: 35px;
}

.product-pagination {
	width: 100%;
	height: 18px;
	margin-top: 10px;
}

.product-bullet {
	width: 114px;
	height: 4px;
	background: #ddd9cd;
	display: inline-block;
}

.product-bullet+.product-bullet {
	margin-left: 8px;
}

.product-pagination .swiper-pagination-bullet-active {
	background-color: #029541 !important;
}

.news-container {
	background-image: url(../img/common_bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	margin-bottom: 103px;
}

.news-item {
	width: 269px;
	height: 324px;
	background: #efede6;
}

.news-item+.news-item {
	margin-left: 22px;
}

.news-content {
	padding: 0 15px;
}

.news-title {
	font-size: 16px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #2b2b2b;
	line-height: 23px;
	border-bottom: solid 1px #e3ddc9;
	padding: 15px 0;
	margin-bottom: 10px;
}

.news-img {
	width: 100%;
	height: 204px;
	display: block;
}

.news-classify {
	width: 74px;
	height: 24px;
	line-height: 24px;
	background: #a4d4ac;
	border-radius: 8px;
	font-size: 13px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #029541;
}

.news-time {
	font-size: 15px;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #c1c1c1;
	line-height: 20px;
}

.more-btn {
	width: 204px;
	height: 51px;
	line-height: 51px;
	margin: 43px auto 0 auto;
	background-image: url('../img/btn_bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.more-btn a {
	color: #fff;
	display: block;
}

.more-btn a::after {
	content:'';
	display: inline-block;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	padding: 4px;
	transform: rotate(-45deg);
	margin-left: 12px;
}

.map {
	width: 100%;
	height: 400px;
}

.scroll-top-btn {
	width: 58px;
	height: 58px;
	background-color: #029541;
	border-radius: 8px;
	position: fixed;
	bottom: 100px;
	right: 20px;
	font-size: 18px;
	font-family: Source Han Sans CN;
	font-weight: 800;
	color: #ffffff;
	line-height: 34px;
	cursor: pointer;
	z-index: 9999;
	background-image: url('../img/top.png');
	background-repeat: no-repeat;
	background-position: center 8px;
	padding-top: 25px;
	box-sizing: border-box;
}

.anchorBL {
	display: none !important;
}

.BMap_cpyCtrl {
	display: none !important;
}
