body{
	background-image: url('../img/common_bg2.png');
	background-repeat: no-repeat;
	background-position: center 55px;
	background-size: inherit;
}


.inside-container{
	padding: 20px;
}

.park-item{
	margin: 10px;
	position: relative;
	width: 353px;
	height: 452px;
	border-radius: 8px;
	overflow: hidden;
}

.park-item img{
	display: block;
	width: 100%;
	height: 100%;
}

.park-item .park-layer{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	left: -353px;
	top: 0;
	color: #fff;
	transition: all .5s;
}

.park-item .park-name{
    width: 100%;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
}

.park-item .park-name::after{
	content: '';
	display: block;
	background-color: #fff;
	width: 38px;
	height: 7px;
	border-radius: 4px;
	margin: 15px auto;
}

.park-item:hover .park-layer{
	transform: translateX(353px);
}

.inside-content{
	padding-bottom: 80px;
}